/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #000000;
  --main-color-light: rgb(224, 224, 224);
}

/* HEADER */
header {
  background-color: var(--main-color);
  color: var(--main-color-light);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

header button {
  padding: 25px 70px;
  cursor: pointer;
  border: none;
  background-color: var(--main-color-light);
}

/* MAIN CONTENT */
.main-container {
  height: 85vh;
  background-color: var(--main-color-light);
}

.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  height: 450px;
  background-color: rgb(160, 160, 160);
}

/* FORM */
.form-container {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap: 10px;
  border-radius: 10px;
}
