/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #000000;
  --main-color-light: rgb(228, 228, 228);
  --text-color-main: #f2f2f2;
  --text-color-sub: #333333;
  --main-color-3: #3facf5;
}

/* HEADER */
header {
  background-color: var(--main-color);
  color: var(--main-color-light);
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}

header button {
  padding: 25px 70px;
  cursor: pointer;
  border: none;
  background-color: var(--main-color-light);
  z-index: 100;
}

/* MAIN CONTENT */
.main-container {
  position: relative;
  min-height: 85vh;
  background-color: var(--main-color-light);
}

.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-right: 10px solid #00d800;
  box-shadow: 2px 4px 5px #d4d4d4;
  padding: 20px;
}

/* FORM */
.main-container {
  padding: 20px;
}

.form-container {
  position: fixed;
  top: 15vh;
  right: 38vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.main-form {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap: 10px;
  border-radius: 10px;
  visibility: hidden;
}

#form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  color: var(--main-color);
  padding: 0px 5px;
}

/* Book */
.titleImage {
  width: 135px;
  margin-bottom: 10px;
}

.bookTitle {
  font-size: 25px;
}

.paraGap {
  line-height: 1.2;
}

.cardClose {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}
